@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

/* BOTONES */

.main .section-contacto-form .formulario-contacto button {
  align-self: center;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: $color-azul-hover;
    transform: scale(1.05);
    @include transicion-transform;
  }
}
