@use '../utilities/variables' as *;

/* Tipografía */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: $fuente-base;
  font-size: $tamano-base;
  color: $color-texto;
}
